
.disponible-box {
/*    background-color: green; */
    display: flex; /* Habilitar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100px; /* Definir una altura para las cajas rojas */
}

.ocupado-box {
/*    background-color: red;*/
    display: flex; /* Habilitar Flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100px; /* Definir una altura para las cajas rojas */
}

.img-fluid {
    max-width: 100%;
    height: auto;
}
.border {
    border: 1px solid #dee2e6 !important;
}

.border {
    border: 1px solid #dee2e6 !important;
}
.car-image {
    width: 50px; /* Ancho de la imagen */
    height: auto; /* Altura automática para mantener la proporción */
}
.color-box {
    height: 100px; /* Definir una altura para las cajas */
    display: flex;
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
}
/* En tu archivo estilo.css */
.boton-entrada {
    min-width: 150px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
  }
  
  .toggle-label {
    cursor: pointer;
    padding: 5px 20px;
    background: #ccc;
    display: inline-block;
  }
  
  input[type="radio"] {
    display: none; /* Ocultar los radio buttons por defecto */
  }
  
  input[type="radio"]:checked + .toggle-label {
    background: #6c6;
  }
  
  /* Agregar estilos adicionales para que parezca un interruptor */
  .chek{
    font-size: 25px; /* Este tamaño es solo un ejemplo, ajústalo según necesites */
    /* Asegúrate de también ajustar el line-height, padding, y cualquier otra propiedad necesaria */
}